.brand {
  background-image: url(../imgs/Background.png);
  background-size: contain;
  background-repeat: no-repeat;

  overflow: hidden;

  border-radius: 1.5rem;
  width: 400px;
  height: 76vh;

  .aside-title {
    padding: 2rem;

    img {
      width: 4rem;
    }

    h1 {
      font: var(--logo);
      line-height: .75;
      color: var(--pink);
    }
  
    p {
      font: var(--body-md-light);
      line-height: .25;
      color: var(--text-heading);
    }
  }
}