.invite { 
  background-color: var(--shape-body);
  border-radius: 1.5rem;

  padding-block: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 51.25rem;
  overflow: auto;
  
  .invite-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    width: 35rem;
  }
  
  h1 {
    font: var(--heading-md);
    color: var(--text-heading);
  }

  .field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;

    border: none;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    
    .legend-wrapper {

      legend {
        display: flex;
        align-items: center;
        gap: .5rem;
  
        font: var(--heading-sm);
        color: var(--text-heading);

        img {
          width: 1.5rem;
        }
      } 
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      gap: .75rem;

      &:has(:invalid) {
        input {
          outline: 1px solid var(--danger);
        }

        .error {
          display: flex;
          align-items: center;
          gap: .5rem;
    
          img {
            width: 1rem;
          }
    
          span {
            font: var(--body-xs);
            color: var(--danger);
          }
        }
      }

      &:has(:valid) {
        .error {
          display: none;
        }
      }

      &:has(:focus-within) {
        .error {
          display: none;
        }
      }

      label {
        font: var(--body-sm);
        color: var(--text-body);
      }

      input {
        appearance: none;
        padding: 1rem;
        border: 1px solid var(--input-stroke);
        border-radius: .5rem;
        background-color: var(--input-base);

        color: var(--text-heading);

        height: 3rem;
        width: 100%;

        &::placeholder {
          font: var(--body-md);
          color: var(--input-placeholder);
        }
  
        &:focus {
          outline: 1px solid var(--brand-light);
          color: var(--text-heading);
        }

        &[type="datetime-local"]{
          color: var(--input-placeholder);
          
          &::-webkit-calendar-picker-indicator {
            opacity: 0;
          }

          &:focus {
            color: var(--text-heading);
          }
        }
      }

      .type {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25rem;

        width: 17rem;
        height: 3rem;
        
        border: 1px solid var(--input-stroke);
        border-radius: .5rem;
        background-color: var(--input-base);

        .option {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: .5rem;

          position: relative;

          width: 8.125rem;
          height: 2.5rem;

          gap: .5rem;

          font: var(--body-sm);
          color: var(--text-body);

          svg {
            width: 1.5rem;

            path {
              fill: var(--input-placeholder);
            }
          }

          input[type="radio"] {
            all: unset;
            position: absolute;
            inset: 0;
          }
        }

        .option:hover {
          cursor: pointer;

          background-color: var();
        }

        .option:has(:checked) {
          background-color: var(--input-stroke);
          color: var(--text-heading);
          font: var(--body-md-semibold);

          svg path {
            fill: var(--brand-light);
          }
        }
      }

      textarea {
        width: 100%;
        height: 8.5rem;

        color: var(--text-heading);
        padding: 1rem;

        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: .5rem;

        resize: none;

        &::placeholder {
          font: var(--body-md);
        }
      }

      textarea:focus {
        outline: 1px solid var(--brand-light);
      }

      .principal-color {
        display: flex;
        justify-content: space-between;
        position: relative;

        padding-top: .5rem;

        .option {
          width: 2.75rem;
          height: 2.75rem;

          border-radius: 50%;

          input[type="radio"] {
            all: unset;
            inset: 0;

            height: 2.5rem;
            width: 2.5rem;
          }

          border: 4px solid var(--shape-button);
          
          outline: 2px solid var(--shape-button);

          &:nth-child(1) {
            background-color: var(--brand-light);
          }

          &:nth-child(2) {
            background-color: var(--navy)
          }

          &:nth-child(3) {
            background-color: var(--purple)
          }
          
          &:nth-child(4) {
            background-color: var(--fuschia)
          }

          &:nth-child(5) {
            background-color: var(--pink)
          }

          &:nth-child(6) {
            background-color: var(--danger)
          }

          &:nth-child(7) {
            background-color: var(--orange)
          }

          &:nth-child(8) { 
            background-color: var(--yellow)
          }

          &:nth-child(9) {
            background-color: var(--lime)
          }

          &:nth-child(10) {
            background-color: var(--green)
          }

          &:nth-child(11) {
            background-color: var(--cyan)
          }

          &:hover {
            cursor: pointer;
            border-color: var(--shape-hover);
          }

          &:has(:checked) {
            outline: 2px solid var(--brand-light);
          }
        }
      }
    }

    .grid-theme {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: .5rem;

      padding-top: .5rem;

      .theme {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        padding: .25rem .25rem .5rem .25rem;
        background-color: var(--shape-button);

        border-radius: .5rem;

        font: var(--body-sm);
        color: var(--text-heading);

        input[type="radio"] {
          all: unset;
          position: absolute;
          inset: 0;
        }

        &:hover {
          cursor: pointer;
          background-color: var(--shape-hover);
        }

        &:has(:checked) {
          outline: 2px solid var(--brand-light);
        }
      }

    }

    /* ESTILIZAÇÃO DO CONTROLE DESLIZANTE - SWITCH TOGGLE */

    .style-switch {
      display: flex;
      gap: .75rem;
      align-items: center;

      margin-top: 1rem;
      
      span {
        font: var(--body-sm);
        color: var(--text-body);
      }

      .style-text:nth-child(3){
        visibility: hidden;
        position: relative;
        right: 3.75rem;
      }
      
      &:has(:checked) {
        .style-text:nth-child(2){
          color: var(--brand-light);
          visibility: hidden;
        }

        .style-text:nth-child(3){
          visibility: visible;
        }
      }
    }

    /* Estilizando o contêiner do switch */
    .switch {
      position: relative;
      display: flex;
      align-items: center;

      width: 4rem;
      height: 2rem;
    }

    /* Oculta o checkbox padrão */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* Estilizando a parte deslizante */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--input-base);
      transition: .4s;

      border: 1px solid var(--input-stroke);
      border-radius: 2.125rem;
    }

    /* Criando o círculo que desliza */
    .slider::before {
      content: "";
      position: absolute;
      height: 1.5rem;
      width: 1.5rem;
      top: .2rem;
      left: .2rem;
      bottom: .2rem;
      background-color: var(--input-stroke);
      transition: 0.4s;
      border-radius: 50%;
    }

    /* Quando o checkbox estiver marcado, altera o fundo */
    input:checked + .slider {
      background-color: var(--brand-light);
    }

    /* Move o círculo quando ativado */
    input:checked + .slider::before {
      transform: translateX(2rem);
      background-color: white;
    }

    /* ESTILIZAÇÃO DO INPUT DE ENVIO DE FOTO */
    .cover-photo {

      .cover-photo-wrapper {
        display: flex;
        align-items: center;
        gap: .5rem;

        .cover-photo-button {
          display: flex;
          align-items: center;
          justify-content: center;
  
          margin-top: 1rem;
  
          width: 7.4375rem;
          height: 2.5rem;
          border-radius: .5rem;
          background-color: var(--shape-button);
  
          label {
            font: var(--body-sm-semibold);

            &:hover {
              cursor: pointer;
            }
          }
  
          svg path {
            stroke-width: 1px;
            stroke: #59B2FF;
          }

          &:hover {
            cursor: pointer;
            background-color: var(--shape-hover);
          }
        }

        span {
          font: var(--body-md);
          color: var(--input-placeholder);

          position: relative;
          top: .625rem;
        }
      }

      input[type="file"] {
        display: none;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }

    .grid1-3 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1.5rem;
    }
  
  }

  .line {
    margin-top: 1rem;

    height: 1px;
    width: auto;
    background-color: var(--shape-button);

    border: none;
  }

  .terms {
    .option {
      display: flex;
      align-items: center;
      gap: 8px;

      margin-bottom: 12px;

      input {
        display: none;
      }

      label {
        font: var(--body-xs);
        color: var(--text-body);

        strong {
          color: var(--brand-light);
        }

        &:hover {
          cursor: pointer;
        }
      }

      .check {
        width: 1.25rem;
        height: 1.25rem;

        background-image: url(../imgs/icons/checkbox.svg);
      }

      &:hover {
        cursor: pointer;
      }

      &:has(:checked){
        .check {
          width: 1.25rem;
          height: 1.25rem;
  
          background-image: url(../imgs/icons/checkbox_checked.svg);
        }
      }

    }
  }

}