.invite { 
  background-color: var(--shape-body);
  border-radius: 1.5rem;

  padding-block: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 51.25rem;
  /* overflow: scroll; */
  
  .invite-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 35rem;
  }
  
  h1 {
    font: var(--heading-md);
    color: var(--text-heading);
  }

  .field-wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;

    border: none;

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    
    .legend-wrapper {

      legend {
        display: flex;
        align-items: center;
        gap: 8px;
  
        font: var(--heading-sm);
        color: var(--text-heading);

        img {
          width: 24px;
        }
      } 
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &:has(:invalid) {
        input {
          outline: 1px solid var(--danger);
        }

        .error {
          display: flex;
          align-items: center;
          gap: .5rem;
    
          img {
            width: 1rem;
          }
    
          span {
            font: var(--body-xs);
            color: var(--danger);
          }
        }
      }

      &:has(:valid) {
        .error {
          display: none;
        }
      }

      &:has(:focus-within) {
        .error {
          display: none;
        }
      }

      label {
        font: var(--body-sm);
        color: var(--text-body);
      }

      input {
        appearance: none;
        padding: 16px;
        border: 1px solid var(--input-stroke);
        border-radius: 8px;
        background-color: var(--input-base);

        color: var(--text-heading);

        height: 3rem;
        width: 100%;

        &::placeholder {
          font: var(--body-md);
          color: var(--input-placeholder);
        }
  
        &:focus {
          outline: 1px solid var(--brand-light);
          color: var(--text-heading);
        }

        &[type="datetime-local"]{
          color: var(--input-placeholder);
          
          &::-webkit-calendar-picker-indicator {
            opacity: 0;
          }

          &:focus {
            color: var(--text-heading);
          }
        }
      }

      .type {
        display: flex;
        justify-content: space-between;

        padding-inline: 12px;
        
        border: 1px solid var(--input-stroke);
        border-radius: 8px;
        background-color: var(--input-base);

        .option {
          border-radius: 8px;
          background-color: var(--text-heading);

          display: flex;
          gap: 8px;
        }
      }

    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  
  }

}